.title{
    width: 20vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 35vh;
    width: 100%;
}